html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  background-color: #16171B;
  color: #FFFFFF;
}

@media (max-width: 63.9375em) {
  body {
    font-size: 0.875rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 64em) {
  .flex-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.flex-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 64em) {
  .flex-c-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: transparent;
}

.headerLogo {
  margin-left: 50px;
}

.headerLogo img {
  height: 50px;
}

.headerLogo span {
  font-family: 'Playfair Display', serif;
  font-size: 1.125rem;
  letter-spacing: 3px;
  margin-left: 20px;
}

.headerNav {
  height: 100%;
  margin-right: 50px;
  width: 40%;
}

@media (max-width: 63.9375em) {
  .headerNav {
    position: fixed;
    top: 0;
    right: -100vw;
    background-color: #16171B;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 10%;
    margin: 0;
  }
}

.headerNavOpen {
  right: 0;
}

.headerNav ul {
  height: 100%;
  list-style: none;
  text-align: center;
}

@media (max-width: 63.9375em) {
  .headerNav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 40%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.headerNav li {
  text-transform: uppercase;
  width: 25%;
  padding: 10px 0;
}

@media (max-width: 63.9375em) {
  .headerNav li {
    width: auto;
    padding: 10px 10px;
  }
}

.headerNav li:hover {
  font-weight: 500;
}

.headerNav li:last-child {
  color: #eebd6e;
  background-color: rgba(238, 189, 110, 0.1);
}

.headerNav li:last-child:hover {
  background-color: rgba(238, 189, 110, 0.3);
}

.headerHamburger {
  position: fixed;
  background-color: transparent;
  top: 10px;
  right: 5px;
  padding: 15px;
  outline: none;
  z-index: 10;
}

.headerHamburger > span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #FFFFFF;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 1.5px 1.5px;
          transform-origin: 1.5px 1.5px;
}

.headerHamburger > span:not(:last-child) {
  margin-bottom: 5px;
}

.headerHamburger.open > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.headerHamburger.open > span:nth-child(2) {
  opacity: 0;
}

.headerHamburger.open > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hero {
  height: 100vh;
  background-color: #16171B;
}

.heroLogo img {
  width: 20%;
}

.heroLogo h1 {
  margin-top: 30px;
  font-size: 1.75rem;
  letter-spacing: 4px;
}

@media (max-width: 63.9375em) {
  .heroLogo h1 {
    text-align: center;
  }
}

.heroLogo h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  margin-top: 20px;
}

.nosotros {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.nosotrosPersona {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 63.9375em) {
  .nosotrosPersona {
    display: block;
    height: auto;
  }
}

.nosotrosPersona:not(:last-child) {
  margin-bottom: 50px;
}

@media (max-width: 63.9375em) {
  .nosotrosPersona:not(:last-child) {
    margin-bottom: 100px;
  }
}

.nosotrosPersonaData {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 63.9375em) {
  .nosotrosPersonaData {
    width: 100%;
    text-align: center;
  }
}

.nosotrosPersonaData > h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 30px;
  margin-bottom: 3%;
  padding-bottom: 2%;
  border-bottom: 1px solid #eebd6e;
}

.nosotrosPersonaData > span {
  text-transform: uppercase;
  margin-bottom: 3%;
  font-weight: 300;
  color: #eebd6e;
}

.nosotrosPersonaData > p {
  font-size: 0.875rem;
  margin-bottom: 4%;
}

.nosotrosPersonaData > a {
  width: 130px;
  height: 45px;
  text-transform: uppercase;
  font-weight: 300;
  border: 1px solid #eebd6e;
  color: #eebd6e;
  background-color: rgba(238, 189, 110, 0.1);
}

@media (max-width: 63.9375em) {
  .nosotrosPersonaData > a {
    width: 100%;
  }
}

.nosotrosPersonaData > a:hover {
  background-color: rgba(238, 189, 110, 0.3);
}

.nosotrosPersonaDataRight {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 63.9375em) {
  .nosotrosPersonaDataRight {
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nosotrosPersonaRightImg {
  width: 45%;
  background-size: cover;
  background-position: center right;
}

@media (max-width: 63.9375em) {
  .nosotrosPersonaRightImg {
    height: 300px;
    width: auto;
    background-position: center;
    margin: 0 5%;
    margin-top: 5%;
  }
}

.nosotrosPersonaLeftImg {
  width: 45%;
  background-size: cover;
  background-position: center left;
}

@media (max-width: 63.9375em) {
  .nosotrosPersonaLeftImg {
    height: 300px;
    width: auto;
    background-position: center;
    margin: 0 5%;
    margin-top: 5%;
  }
}

#imgAntonucci {
  background-image: url(../assets/img/antonucci2.jpeg);
}

#imgCastro {
  background-image: url(../assets/img/castro.jpeg);
}

.servicios {
  padding: 100px 0;
  text-align: center;
  min-height: 100vh;
}

@media (max-width: 63.9375em) {
  .servicios {
    min-height: auto;
  }
}

.servicios > h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  text-transform: uppercase;
}

@media (max-width: 63.9375em) {
  .servicios > h2 {
    font-size: 1rem;
  }
}

.servicios > h3 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #eebd6e;
  margin-bottom: 2%;
}

@media (max-width: 63.9375em) {
  .servicios > h3 {
    font-size: 1.75rem;
    margin-bottom: 10%;
  }
}

.serviciosContainer {
  width: 60%;
}

@media (max-width: 63.9375em) {
  .serviciosContainer {
    width: 100%;
    margin: 0 5%;
  }
}

.serviciosContainerRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 63.9375em) {
  .serviciosContainerRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.serviciosContainerRow:not(:first-child) {
  margin-top: 4vh;
}

@media (max-width: 63.9375em) {
  .serviciosContainerRow:not(:first-child) {
    margin-top: 0;
  }
}

.serviciosContainerCard {
  width: 18vw;
  height: 18vw;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .serviciosContainerCard {
    width: 70vw;
    height: 70vw;
    margin-top: 3vh;
  }
}

.serviciosContainerCardData {
  width: 15vw;
  height: 15vw;
  border: 3px solid #eebd6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .serviciosContainerCardData {
    width: 60vw;
    height: 60vw;
  }
}

.serviciosContainerCardData > img {
  width: 30%;
  margin-bottom: 20%;
}

.serviciosContainerCardData > h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.125rem;
  color: #16171B;
}

.contacto {
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  background-image: url(../assets/img/contacto.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactoData {
  margin-left: 15%;
}

@media (max-width: 63.9375em) {
  .contactoData {
    margin: 0 5%;
  }
}

.contactoData > h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.contactoData > h3 {
  font-size: 2rem;
  letter-spacing: 7px;
  color: #eebd6e;
  margin-bottom: 1%;
}

.contactoData > span {
  font-weight: 300;
  text-transform: uppercase;
}

.contactoDataDivisor {
  display: inline-block;
  width: 20%;
  border-bottom: 1px solid #eebd6e;
  margin: 5% 0;
}

.contactoDataIcon {
  height: 60px;
  margin-bottom: 10%;
}

.contactoDataIconImg > img {
  height: 100%;
  width: auto;
}

.contactoDataIconTxt {
  margin-left: 5%;
}

.contactoDataIconTxt > p {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 3%;
}

.contactoDataIconTxt > span {
  font-size: 1.125rem;
  letter-spacing: 2px;
}

.creditos {
  padding: 20px 0;
  text-align: center;
  font-size: 0.875rem;
}

.creditos a {
  color: #eebd6e;
}

/* boton volver arriba */
#button-up {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0;
  color: #c7c7c7;
  border: 4px solid gray;
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  pointer-events: none;
}

@media (max-width: 63.9375em) {
  #button-up {
    bottom: 20px;
    right: 20px;
  }
}

#button-up:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-color: rgba(0, 0, 0, 0.1);
}

.modalUrgencias {
  position: fixed;
  left: 30px;
  bottom: 30px;
  width: 480px;
  height: 96px;
  background-color: #eebd6e;
  text-align: center;
  border-radius: 10px;
  color: #16171B;
  -webkit-animation: aparecerIzquierda;
          animation: aparecerIzquierda;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@media (max-width: 63.9375em) {
  .modalUrgencias {
    left: 0;
    width: 90%;
    margin: 0 5%;
    -webkit-animation: aparecerIzquierdaMobile;
            animation: aparecerIzquierdaMobile;
  }
}

.modalUrgenciasContent {
  width: 455px;
  height: 70px;
  border: 3px solid #16171B;
  border-radius: 10px;
}

@media (max-width: 63.9375em) {
  .modalUrgenciasContent {
    width: 96%;
    height: 86%;
  }
}

.modalUrgenciasContent div {
  margin-left: 20px;
}

@media (max-width: 63.9375em) {
  .modalUrgenciasContent div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.modalUrgenciasContent h2 {
  font-size: 1.25rem;
}

.modalUrgenciasContent a {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  color: #16171B;
  margin-left: 10px;
}

.modalUrgenciasContent i {
  margin-right: 20px;
  font-size: 1.25rem;
  cursor: pointer;
}

.modalUrgenciasClose {
  left: -510px;
}

@media (max-width: 63.9375em) {
  .modalUrgenciasClose {
    left: -100vw;
  }
}

@-webkit-keyframes aparecerIzquierda {
  0% {
    left: -510px;
  }
  100% {
    left: 30px;
  }
}

@keyframes aparecerIzquierda {
  0% {
    left: -510px;
  }
  100% {
    left: 30px;
  }
}

@-webkit-keyframes aparecerIzquierdaMobile {
  0% {
    left: -100vw;
  }
  100% {
    left: 0px;
  }
}

@keyframes aparecerIzquierdaMobile {
  0% {
    left: -100vw;
  }
  100% {
    left: 0px;
  }
}
