.nosotros {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

    &Persona {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;

        @include breakpoint-down(medium) {
            display: block;
            height: auto;
        }

        &:not(:last-child) {
            margin-bottom: 50px;

            @include breakpoint-down(medium) {
                margin-bottom: 100px;
            }
        }

        &Data {
            width: 55%;
            display: flex;
            flex-direction: column;
            padding: 0 5%;
            justify-content: center;

            @include breakpoint-down(medium) {
                width: 100%;
                text-align: center;
            }

            >h3 {
                text-transform: uppercase;
                font-size: $font-32;
                font-weight: 700;
                letter-spacing: 3px;
                line-height: 30px;
                margin-bottom: 3%;
                padding-bottom: 2%;
                border-bottom: 1px solid $color-gold;
            }

            >span {
                text-transform: uppercase;
                margin-bottom: 3%;
                font-weight: 300;
                color: $color-gold;
            }

            >p {
                font-size: $font-14;
                margin-bottom: 4%;
            }

            >a {
                width: 130px;
                height: 45px;
                text-transform: uppercase;
                font-weight: 300;
                border: 1px solid $color-gold;
                color: $color-gold;
                background-color: rgba(238, 189, 110, 0.1);

                @include breakpoint-down(medium) {
                    width: 100%;
                }

                &:hover {
                    background-color: rgba(238, 189, 110, 0.3);
                }
            }

            &Right {

                text-align: right;
                align-items: flex-end;

                @include breakpoint-down(medium) {
                    width: 100%;
                    text-align: center;
                    align-items: center;
                }
            }
        }

        &RightImg {
            width: 45%;
            background-size: cover;
            background-position: center right;

            @include breakpoint-down(medium) {
                height: 300px;
                width: auto;
                background-position: center;
                margin: 0 5%;
                margin-top: 5%;
            }
        }

        &LeftImg {
            width: 45%;
            background-size: cover;
            background-position: center left;

            @include breakpoint-down(medium) {
                height: 300px;
                width: auto;
                background-position: center;
                margin: 0 5%;
                margin-top: 5%;
            }
        }
    }
}

#imgAntonucci {
    background-image: url(../assets/img/antonucci2.jpeg);
}

#imgCastro {
    background-image: url(../assets/img/castro.jpeg);
}