.servicios {
    padding: 100px 0;
    text-align: center;
    min-height: 100vh;

    @include breakpoint-down(medium) {
        min-height: auto;
    }
    
    > h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: $font-18;
        text-transform: uppercase;

        @include breakpoint-down(medium) {
            font-size: $font-16;
        }
    }

    > h3 {
        font-size: $font-32;
        text-transform: uppercase;
        letter-spacing: 7px;
        color: $color-gold;
        margin-bottom: 2%;
        
        @include breakpoint-down(medium) {
            font-size: $font-28;
            margin-bottom: 10%;
        }
    }

    &Container {
        width: 60%;

        @include breakpoint-down(medium) {
            width: 100%;
            margin: 0 5%;
        }


        &Row {
            display: flex;
            justify-content: space-between;

            @include breakpoint-down(medium) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            &:not(:first-child){
                margin-top: 4vh;

                @include breakpoint-down(medium) {
                    margin-top: 0;
                }
            }
        }

        &Card {
            width: 18vw;
            height: 18vw;
            background-color: $color-white;
            display: flex;
            justify-content: center;
            align-items: center;

            @include breakpoint-down(medium) {
                width: 70vw;
                height: 70vw;
                margin-top: 3vh;
            }

            &Data {
                width: 15vw;
                height: 15vw;
                border: 3px solid $color-gold;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include breakpoint-down(medium) {
                    width: 60vw;
                    height: 60vw;
                }

                > img {
                    width: 30%;
                    margin-bottom: 20%;
                }

                > h4 {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 900;
                    font-size: $font-18;
                    color: $color-black;
                }
            }
        }
    }
}