// Tamaño Tipografia
$font-12: 0.75rem; // 12 px
$font-14: 0.875rem; // 14 px
$font-16: 1rem; // 16 px
$font-18: 1.125rem; // 18 px
$font-20: 1.25rem; // 20 px
$font-24: 1.5rem; // 24 px
$font-28: 1.75rem; // 28 px
$font-32: 2rem; // 32 px

// Color

$color-black: #16171B;
$color-white: #FFFFFF;
$color-gold: rgb(238, 189, 110);

// Transition

$trans-500: all 0.5s ease-in-out;
